
@use "sass:math";

@import "Style";

//====================================================================================================

.tel {
  @include adaptiveValue("font-size", 20, 13);
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      color: $violetColor;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: all 0.3s ease 0s;
  @include adaptiveValue("padding-top", 60, 10);
  @include adaptiveValue("padding-bottom", 60, 10);

  &._header-scroll {
    padding-top: rem(20);
    padding-bottom: rem(20);
    background-color: $whiteColor;
  }

  &__container {
    display: grid;
    grid-template-columns: rem(300) 1fr rem(300);
    align-items: center;
    @media (max-width: em(1080)) {
      grid-template-columns: auto 1fr auto;
    }
  }

  &__logo {
    position: relative;
    z-index: 5;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $violetColor;
      }
    }
    @include adaptiveValue("font-size", 30, 15);
    letter-spacing: 0.27rem;

    img {
      max-width: 100%;
    }
  }

  &__menu {
  }

  &__action {
    display: flex;
    gap: rem(16);
    align-items: center;
    position: relative;
    z-index: 5;
    margin-left: auto;
  }

  &__button {
  }
}

.menu {
  padding: 0 rem(10);

  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      left: -100%;
      transition: all 0.3s ease 0s;
      overflow: auto;
      background-color: $whiteColor;
      gap: rem(30);
      @include adaptiveValue("padding-top", 180, 120, 768, 320, 2);
      padding-left: rem(15);
      padding-right: rem(15);
      padding-bottom: rem(30);
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 0.3s ease 0s;
        width: 100%;
        @include adaptiveValue("height", 70, 50, 768, 320, 2);
        background-color: #dadada;
        z-index: 2;
      }
      .menu-open & {
        left: 0;

        &::before {
          left: 0;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("font-size", 16, 14, 1440, 767.98, 1);
    row-gap: rem(10);
    column-gap: rem(44);
    @include adaptiveValue("gap", 44, 15);
    @media (max-width: $mobile) {
      flex-direction: column;
      text-align: center;
      row-gap: rem(40);
    }
  }

  &__item {
  }

  &__link {
    @media (max-width: $mobile) {
      font-size: rem(40);
    }
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $violetColor;
      }
    }
  }
}

.button {
  @media (max-width: $mobile) {
    width: 100%;
    @include adaptiveValue("height", 100, 50);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: rem(1) solid $mainColor;
  outline: none;
  transition: 1s ease-in-out;
  @media (any-hover: hover) {
    &:hover {
      transition: 1s ease-in-out;
      background: $violetColor;

      span {
        color: $whiteColor;
      }

      border: rem(2) solid $violetColor;

      svg {
        stroke-dashoffset: -480;
      }
    }
  }

  span {
    transition: all 0.3s ease 0s;
    font-size: rem(18);
    font-weight: 100;
    padding: rem(20) rem(30);
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

//====================================================================================================

.services {
  @include adaptiveValue("margin-bottom", 50, 25);
  &__container {
  }

  &__title {
    @include adaptiveValue("font-size", 30, 20);
    text-align: center;
    @include adaptiveValue("margin-bottom", 50, 20);
    font-weight: bold;
  }

  &__gallery {
  }
}

.block-gallery {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: rem(10);
    @media (max-width: em(1460)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(800)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    position: relative;
  }

  &__image {
    display: flex;
    justify-content: center;

    &_txt {
      position: absolute;
      bottom: rem(10);
      text-align: center;
    }

    img {
      box-shadow: 0 rem(20) rem(40) rgba(0, 0, 0, 0.07);
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.01);
        }
      }
      @media (max-width: em(1460)) {
        width: 100%;
      }
      width: 470px;
      @include adaptiveValue("height", 400, 100);
      @media (max-width: em(800)) {
        height: 100%;
      }
    }
  }

  &__title {
    @include adaptiveValue("font-size", 35, 25);
    letter-spacing: 0.17rem;
    margin-bottom: rem(10);
  }

  &__sub-title {
    @include adaptiveValue("font-size", 25, 15);
  }
}

//====================================================================================================

.why {
  @include adaptiveValue("margin-top", 50, 25);
  @include adaptiveValue("margin-bottom", 50, 25);
  &__container {
  }

  &__content {
  }

  &__columns {
    display: flex;
    justify-content: center;
    @include adaptiveValue("column-gap", 30, 10);
    row-gap: rem(10);
    @media (max-width: em(912)){
      flex-direction: column-reverse;
    }
  }

  &__column {
    @include adaptiveValue("font-size", 24, 18);
  }
}
.column-first {
  @media (max-width: em(912)) {
  }
  &__txt {
    text-align: right;
    @media (max-width: em(912)) {
      text-align: center;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 30);
    }
  }

  &__title {
    @include adaptiveValue("font-size", 30, 24);
    font-weight: bold;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }

  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 5);
    }
  }
}
.column-center {
  border: rem(1) solid $mainColor;
  @include adaptiveValue("padding-top", 50, 30);
  @include adaptiveValue("padding-bottom", 50, 30);
  @include adaptiveValue("padding-right", 50, 30);
  @include adaptiveValue("padding-left", 50, 30);

  &__title {
    @include adaptiveValue("font-size", 32, 26);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__image {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 200, 30);
    }
    img {
      width: 100%;
    }
  }

  &__txt {

    &_title {
      @include adaptiveValue("font-size", 30, 24);
      font-weight: bold;
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 30, 15);
      }
      span {
        color: $violetColor;
      }
    }

    &_sub-title {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 30, 20);
      }
    }
  }
}
.column-left {
  &__txt {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 30);
    }
  }

  &__title {
    @include adaptiveValue("font-size", 30, 24);
    font-weight: bold;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }

  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 5);
    }
  }
}

//====================================================================================================

.works {
  @include adaptiveValue("margin-top", 50, 25);
  @include adaptiveValue("margin-bottom", 50, 25);
  &__container {
  }

  &__content {
  }

  &__title {
    text-align: center;
    @include adaptiveValue("font-size", 32, 28);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }

  &__items {
  }

  &__item {
  }

  &__image {
  }
}

//====================================================================================================

.certificate {
  @include adaptiveValue("margin-top", 50, 25);
  @include adaptiveValue("margin-bottom", 50, 25);
  &__container {
  }

  &__content {
  }

  &__title {
    @include adaptiveValue("font-size", 32, 28);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 30);
    }
  }

  &__list {
  }

  &__item {
    @include adaptiveValue("font-size", 24, 18);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 30);
    }
  }
}

//====================================================================================================

.brand {
  @include adaptiveValue("margin-top", 50, 25);
  @include adaptiveValue("margin-bottom", 50, 25);
  &__title {
    @include adaptiveValue("font-size", 32, 28);
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin", 50, 30);
    }
  }

  &__slider {
  }

  &__wrapper {
  }

  &__slide {
  }
}

//====================================================================================================

.footer {
  @include adaptiveValue("margin-top", 50, 25);
  text-align: center;
  padding: rem(20) rem(0);
  background-color: #F5F5F7;
}

//====================================================================================================
