@use "sass:math";

@import "src/assets/style/Style";

.ServicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: rem(10);
  @include adaptiveValue("column-gap", 10, 1);
  @media (max-width: em(1460)) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: em(800)) {
    grid-template-columns: repeat(1, 1fr);
  }
}